body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.game {
  width: 600px;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #212534;
  padding: 0 28px 0 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game .js-tabs {
  display: none;
}

.game .show {
  display: block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 33px 0;
  margin: 0 -28px 0 -21px;
  list-style-type: none;
  background-color: #2b3044;
}

.menu__block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.menu__block::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 0;
  height: 2px;
  background-color: #f2f2f2;
}

.menu__block:hover {
  color: #f2f2f2;
}

.menu__block:hover::after {
  width: 100%;
}

.menu__block .fas, .menu__block .far {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.menu .active {
  color: #f2f2f2;
  position: relative;
}

.menu .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 64px 0;
}

.information .info-cover {
  max-width: 40%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.information .info-cover .cover {
  display: block;
}

.information .info-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 60%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information .info-block .caption {
  font-size: 32px;
  color: #fff;
  padding: 0;
}

.information .info-block .caption .date {
  display: block;
  font-size: 14px;
  color: #f2f2f2;
}

.information .info-block .description {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
}

.information .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.information .footer__cell {
  width: 30%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information .footer__cell--width {
  width: 40%;
}

.information .footer .block-rating {
  width: 125px;
  height: 20px;
  position: relative;
}

.information .footer .block-rating__label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/icon-rating.png);
  background-size: 20px;
  background-position: 0 -20px;
  cursor: pointer;
}

.information .footer .block-rating__label-2 {
  left: 25px;
}

.information .footer .block-rating__label-3 {
  left: 50px;
}

.information .footer .block-rating__label-4 {
  left: 75px;
}

.information .footer .block-rating__label-5 {
  left: 100px;
}

.information .footer .block-rating__input {
  display: none;
}

.information .footer .block-rating__label:hover,
.information .footer .block-rating__input:checked + .block-rating__label,
.information .footer .block-rating__input:checked ~ .block-rating__label,
.information .footer .block-rating__label:hover ~ .block-rating__label {
  background-position: 0 0;
}

.information .footer .price {
  font-size: 32px;
  color: #fff;
}

.information .footer .price .discount {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #fedc3f;
  text-transform: uppercase;
  padding: 0 10px;
}

.information .footer button {
  display: block;
  width: 164px;
  height: 55px;
  background-color: #13e28d;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.information .footer button:focus, .information .footer button:hover {
  background-color: #11ca7e;
}

.ratings {
  padding: 60px 0 64px 0;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
}

.buy {
  padding: 60px 0 64px 0;
}
/*# sourceMappingURL=style.css.map */